<div class="content">
  <div class="wrapper">
    <form [formGroup]="createQuestionForm">
      <span (click)="removeCurrentQuestion()" class="remove">X</span>
      <!--<div class="title voteo-bold">{{'pools.question' | translate}}</div>-->
      <mat-form-field class="question-name">
      <input matInput [placeholder]="'pools.question' | translate" formControlName="name">
      </mat-form-field>
      <div class="parameters">
        <mat-slide-toggle class="param" formControlName="openEnded">
          <span class="label voteo-bold">{{'pools.create.openEnded' | translate}}</span>
          <span class="hint">{{'pools.create.openEndedHint' | translate}}</span>
        </mat-slide-toggle>
        <mat-slide-toggle class="param" formControlName="multiple">
          <span class="label voteo-bold">{{'pools.create.multiple' | translate}}</span>
        </mat-slide-toggle>
      </div>

      <fieldset formArrayName="options">
        <button class="voteo-button add-option" type="button" (click)="addOption()">
          <mat-icon>subject</mat-icon> {{'pools.create.addOption' | translate}}
        </button>
        <div class="" *ngFor="let option of options.controls; let j=index"
             [formGroupName]="j">
          <div class="option">
            <span class="label">{{'pools.create.option' | translate}} {{j+1}}:</span>
            <input class="question-name" formControlName="label">
            <span class="remove" (click)="removeOption(j)">X</span>
          </div>
        </div>
      </fieldset>

      <div class="submit">
        <ng-content></ng-content>
      </div>
    </form>
  </div>
</div>
