@import '../../../lib/styles/colors';

.list {
  display: flex;
  flex-wrap: wrap;

  .item {
    display: block;
    width: 180px !important; //preco je to important? :D
    padding: 0px;
    margin: 10px;
    margin-top: 0px;
    transition: all .4s;
    user-select: none !important;
    border-radius: 10px;

    &:hover {
      transform: scale(1.1);
      z-index: 99;
      background-color: $color-bitcoach-gray;
    }
  }

}
