@import '../../../lib/styles/colors';

.tile-wrapper {
  border: .5px solid $color-light-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 5px;
}

.upper-part {
  background-color: $color-bitcoach-blue;
  border: .5px solid $color-bitcoach-blue;
  padding-left: 15px;
  color: $color-white;
}

.actions {
  width: 40%;
  display: inline-block;
  margin: 5px;
  height: 28px;
  float: right;

  button:first-child {
    margin-right: 4px;
  }
}

.attributes {
  display: inline-block;
  width: 70%;

  .attribute {
    display: flex;
    padding-left: 5px;

    mat-icon {
      color: $color-bitcoach-blue;
      cursor: default;
      margin-right: 5px;
    }

    .value {
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.title {
  color: black;
}

.subtitle {
  color: $color-light-gray;
}
