@import '../../../lib/styles/colors';

.tile-wrapper {
  border: .5px solid $color-light-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  user-select: none;
  cursor: default;

  &.voted {
    opacity: .85;
  }

  .title-part {
    position: relative;
    background: $color-voteo-primary;
    padding: 20px 5px;
    text-align: left;
    overflow: hidden;

    .subtitle {
      font-size: 14px;
      color: white;
    }

    h5 {
      color: $color-bitcoach-gold;
    }
  }
}

.actions {
  display: flex;
  flex-direction: column;
  padding: 15px;

  button:first-child {
    margin-bottom: 4px;
  }
}

.ribbon {
  position: absolute;
  color: white;
  background: red;
  transform: rotate(45deg);
  text-align: center;
  top: 10px;
  right: -75px;
  width: 200px;
  z-index: 10;
}

.attributes {
  display: inline-block;
  width: 70%;
  padding-top: 15px;

  .attribute {
    display: flex;
    padding-left: 5px;

    mat-icon {
      color: $color-voteo-primary;
      cursor: default;
      margin-right: 5px;
    }

    .value {
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.title {
  color: black;
}
