<div class="tile-wrapper">
  <div class="upper-part">
    <span class="title voteo-bold">{{poolTitle}}</span>
  </div>
  <div class="bottom-part">
    <span class="question-count">{{'pools.questions' | translate}}:{{numberOfQuestions}}</span>
    <span class="voters">{{'pools.voted' | translate}}: {{voted}}</span>
    <div class="actions">
      <button [disabled]="hasVoted" class="voteo-button" (click)="openVoting()">{{'pools.vote' | translate}}</button>
      <button *ngIf="isOwnPoll" class="voteo-button" (click)="showResults()">{{'pools.result' | translate}}</button>
    </div>
  </div>
</div>
