@import '../../../lib/styles/colors';

.tile-wrapper {
  border: .5px solid $color-bitcoach-border;
}

.upper-part {
  background-color: $color-bitcoach-blue;
  border: .5px solid $color-bitcoach-blue;
  padding-left: 15px;
  color: $color-white;
}

.bottom-part {
  position: relative;
  display: flex;
  width: 100%;
  margin: 5px 0px;
  align-items: center;

  .actions {
    width: 30%;
    display: inline-block;
    margin: 5px;
    height: 28px;

    button:first-child {
      margin-right: 4px;
    }
  }

}

.attributes {
  display: inline-block;
  width: 70%;

  .attribute {
    display: flex;
    padding-left: 5px;

    mat-icon {
      color: $color-bitcoach-blue;
      cursor: default;
      margin-right: 5px;
    }

    .value {
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.title {
  color: $color-white;
}
