<div class="login-wrapper">
  <input [(ngModel)]="config.address" class="login-input" label="address" placeholder="address">
  <input [(ngModel)]="config.privateKey" type="text" class="login-input" label="privatekey" placeholder="privatekey">
  <button (click)="login()" class="voteo-button">Sign in</button>
</div>

<div class="additional">
  <label><input type="checkbox" label="Remember me" placeholder="Remember me">Remember me</label>
  <a href="/">Forgotten password</a>
</div>
<button (click)="register()" class="register voteo-button">Register</button>
