:host {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  position: relative;
  box-shadow: -2px 7px 30px -2px rgba(0,0,0,0.75);

  input {
    outline: none !important;
    width: 100%;
    border: 1px solid lightgray;
    padding: 5px 15px;
    height: 50px;
  }

  button {
    position: absolute;
    right: -25px;

    &.voteo-button {
      height: 45px;
      padding: 5px 20px;
    }
  }
}

.additional {
  width: 45%;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
