<div class="actions row">
  <app-pool-action-element
    (mouseover)="onMouseOverItem(0)"
    [defaultHovered]="hoveredItem === 0"
    [picture]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNZlggA4RAvHkDD1nPAUczniJr_ts8zpECLEFWayyzxaPwIhPPXQ'"
    [label]="'pools.types.add'"
    [redirectLink]="'/create'"
    class="col-md-3 action">
    {{'pools.clickAdd' | translate}}
  </app-pool-action-element>

  <app-pool-action-element
    (mouseover)="onMouseOverItem(1)"
    [defaultHovered]="hoveredItem === 1"
    [picture]="'assets/img/pools.png'"
    [label]="'pools.types.create'"
    [redirectLink]="'/ownPools'"
    class="col-md-3 action">

    <div>{{'pools.your' | translate: numberOfOwnPolls}}</div>
  </app-pool-action-element>

  <app-pool-action-element
    (mouseover)="onMouseOverItem(2)"
    [defaultHovered]="hoveredItem === 2"
    [picture]="'assets/img/vote.png'"
    [label]="'pools.types.vote'"
    [redirectLink]="'/pools'"
    class="col-md-3 action">
    {{'pools.noPending' | translate: numberOfPrivatePollsCount}}
  </app-pool-action-element>

  <app-pool-action-element
    (mouseover)="onMouseOverItem(3)"
    [defaultHovered]="hoveredItem === 3"
    [picture]="'assets/img/public_pools.png'"
    [label]="'pools.types.public'" class="col-md-3 action"
    [redirectLink]="'/publicPools'">
    {{'pools.public' | translate: numberOfPublicPools}}
  </app-pool-action-element>
</div>
