<div class="actions row">
  <app-pool-action-element
    [picture]="'assets/img/pools.png'"
    [label]="'pools.types.create'"
    [redirectLink]="'/ownPools'"
    class="col-4 action">
    <div class="create" (click)="createPool()">
        <!--<span class="img-fluid">-->
          <!--<img src="assets/img/create.png">-->
        <!--</span>-->
      <mat-icon>add_box</mat-icon>
      <span class="text">{{'pools.createNew' | translate}}</span>
    </div>
    <div>{{'pools.your' | translate: numberOfOwnPolls}}</div>
  </app-pool-action-element>

  <app-pool-action-element
    [defaultHovered]="isMouseOutside"
    [picture]="'assets/img/vote.png'"
    [label]="'pools.types.vote'"
    [redirectLink]="'/pools'"
    class="col-4 action">
    {{'pools.noPending' | translate: numberOfPrivatePollsCount}}
  </app-pool-action-element>

  <app-pool-action-element
    [picture]="'assets/img/public_pools.png'"
    [label]="'pools.types.public'" class="col-4 action"
    [redirectLink]="'/publicPools'">
    {{'pools.public' | translate: numberOfPublicPools}}
  </app-pool-action-element>
</div>
