@import '../../../lib/styles/colors';

:host {
  display: block;
  position: relative;
}

.action {
  padding: 0 !important;
  transition: all .3s;
}

.actions {
  margin: 0px 0px 0px 20px;
}

.title {
  padding: 40px;
  margin: auto;
  text-align: center;
}

.create {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;

  mat-icon {
   font-size: 22px;
    color: $color-bitcoach-blue;
  }


  .text:hover {
    color: $color-bitcoach-blue;
    text-decoration: underline;
  }
}

.tabs {
  display: flex;
  border-bottom: 1px solid $color-light-gray;

  .tab {
    color: $color-light-gray;
    margin-right: 20px;
    margin-bottom: -1px;
    padding: 10px;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none !important;
  }
}

.active-link {
  color: black !important;
  border-bottom: 2px solid black;
}
