@import '../../../lib/styles/colors';

:host {
  display: block;
  position: relative;
}

.action {
  padding: 0 !important;
  transition: all .3s;
}

.actions {
  margin: 0px 0px 0px 20px;
}

.title {
  padding: 40px;
  margin: auto;
  text-align: center;
}

.create {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;

  mat-icon {
   font-size: 22px;
    color: $color-bitcoach-blue;
  }


  .text:hover {
    color: $color-bitcoach-blue;
    text-decoration: underline;
  }
}
