@import '../../../lib/styles/colors';

.title {
  color: $color-voteo-gradient;
  font-size: 20px;
  text-align: center;
}

.wrapper {
  border: 1px solid $color-bitcoach-gold;
  border-radius: 5px;
}

.title-input {
  width: 100%;
}

.button-wrapper {
  width: 100%;
  justify-content: center;
  display: flex;
  margin: 10px;

  button:first-child {
    margin-right: 5px;
  }
}

.question {
  display: block;
  margin: 25px 0px;
}

.voteo-button {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
