<header class="wrapper d-flex flex-row justify-content-between">
  <div class="d-flex align-items-center">
    <div class="logo-wrapper">
      <img routerLink="/" class="logo" src="assets/img/voteologobiele.png">
    </div>
    <!--<span  class="item">{{'header.profile' | translate}}</span>-->
    <span routerLink="/contacts" class="item">{{'header.contactList' | translate}}</span>
    <span routerLink="/changelog" class="item">Changelog</span>
    <span routerLink="/about" class="item">{{'header.about' | translate}}<span class="gold">{{'header.title' | translate}}</span></span>
  </div>
  <app-profile-detail>
    <div class="align-items-center">
      <div routerLink="/profile" class="user">
        <div class="img-wrapper">
          <img class="rounded-circle" src="/assets/img/siluette.png">
        </div>
        <div class="details">
          <!--<span class="gold">Kamil bitcoach</span>-->
          <span class="gold">{{address}}</span>
        </div>
      </div>
    </div>
    <div class="language-selector align-items-center">
      <app-language-selector
        [languages]="languages"
        [selectedLanguage]="selectedLanguage"
        (onSelectChange)="changeLanguage($event)">
      </app-language-selector>
    </div>
  </app-profile-detail>
</header>
