@import '../../../lib/styles/colors';

.logo-wrapper {
  float: left;
  margin: 5px 35px 5px 0;
  cursor: pointer;

  .name {
    font-size: 32px;
    color: $color-bitcoach-gold;
  }
}

.gold {
  color: $color-bitcoach-gold;
}

.menu {
  display: flex;
  align-items: center;
  color: white;
}

.address {
  color: black;
}

.item {
  cursor: pointer;
  font-size: 14px;
  padding: 10px 25px;
  height: 100%;
  align-items: center;
  display: flex;

  &:hover {
    color: $color-light-gray;
  }
}

.active-link {
  font-weight: bold;
  color: $color-bitcoach-gold !important;
  border-bottom: 3px solid $color-bitcoach-gold;
}

.user {
  display: flex;
  float: right;
  padding-right: 10px;
  height: 100%;
  position: relative;
  justify-content: center;
  cursor: pointer;

  span {
    text-align: left;
  }
}

.bitcoach-menu {
  display: flex;
  align-items: center;
}

.header-wrapper {
  color: $color-white;
  padding: 0 30px;
  height: 60px;
  background: $color-voteo-gradient;
  box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.45);
}

.col-4, span {
  outline: none !important;
}

mat-select {
  border: 0px;
}

mat-form-field {
  display: block;

  .mat-select-value-text {
    color: $color-white !important;
  }
}

.language {
  margin:auto;
}

.language-wrapper {
  margin: auto;
  display: inline-block;
}

.logo {
  height: 50px;
}

app-profile-detail {
  display: flex;
  justify-content: center;
  align-items: center;

  .details {
    margin: 3px;
    display: flex;
    flex-direction: column;
  }
}

.language-selector {
  float: right;
  padding: 10px;
}

.img-wrapper {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    background-color: white;
    width: 30px;
    height: 30px;
    padding: 2px;
  }
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
