@import '../../../lib/styles/colors';

.selected {
  cursor: pointer;
  user-select: none;

  &:hover {
    color: $color-bitcoach-azure;
  }
}

.panel {
  display: block;
  position:absolute;
  z-index: 99;
  transition: all 1s;
  overflow: hidden;
  right: 0;

  &.closed {
    max-height: 0px;
  }
}

.language-panel {
  display: block;
  cursor: pointer;
  background-color: $color-white;
  padding: 10px;

  .item {
    cursor: pointer;
    color: $color-voteo-gradient;
    padding: 5px;

    &:hover {
      color: $color-bitcoach-azure;
    }
  }
}
