@import '../../../lib/styles/colors';

.pool-item {
  display: block;
  padding: 5px 10px;
  transition: all .2s;
}

.pools-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.floating {
  top: 0px;
  padding: 10px 0px;
  margin: auto;
  position: sticky;
  display: flex;
  background-color: white;
  z-index: 2;
  width: 100%;
}

.center {
  display: flex;
  align-items: center;
  width: 180px;
  margin: 0;
}

.back-button {
  width: 35px;
  height: 35px;
  font-size: 35px;
  cursor: pointer;
  color: $color-bitcoach-blue;
  user-input: none;
  position: absolute;
  left: -40px;

  &:hover {
    color: $color-bitcoach-gold;
  }
}

.settings-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: stretch;
}

.settings {
  display: flex;
  align-items: center;
  flex-direction: column;

  mat-button-toggle-group {
    justify-content: center;
    align-items: center;
    height: 20px;
  }

  &.columns {
    position: absolute;
    right: 0;
  }
}
