<div class="about-header">
  Changelog
</div>

<div class="about-desc">
  <h4>Current version (0.9.1):</h4>
  <li>Creation of public and private polls and voting</li>
  <li>Multiple choice questions and open-ended option working</li>
  <li>Listing of a public, assigned and created polls</li>
  <li>Right now only creator of the poll can see the results</li>
</div>

<div class="about-desc">
  <h4>Next version (0.9.2):</h4>
  <li>Date constraints</li>
  <li>Token balances constraints</li>
  <li>Working contact list</li>
</div>

<div class="about-desc">
  <h4>Planned:</h4>
  <li>Rewards system</li>
  <li>KYC</li>
</div>
