:host {
  display: flex;
  height: 75%;
}

.header {
  width: 100%;
  display:block;
  position: relative;
}

.content {
  padding: 10px;
  margin: 20px 8%;
  width: 100%;
}

.profile {
  position: sticky;
  display: table;
  top: 0;
}
